:root{
    --yellow-primary:#ffff00;
    --beige:#f8f184;
    --bleu:#19587d;
    --white:#ffffff;
    --rouge:#b11313;
    --noire-primary:#0d0e09;
    --noire:#000000;
    --grey:#c4c4c4;
    --rouge-transparent:rgba(177, 19, 19,0.6);
    --white-transparent:rgba(255, 255, 255, 0.055);
}


*{
    scroll-behavior: smooth;
}


.play{
    text-align: center;
    position:fixed;
    right: 51px;
    top:40%;
    z-index: 1;
}
.play >*{
    display:block;
    margin: auto;
    margin-top: 10px;
}

.border_left{
    width: 4px;
    height: 100vh;
    background-color: #BCBBBD30;
    position: fixed;
    left:102px;
    z-index: 1;
}
.border_right{
    width: 4px;
    height: 100vh;
    background-color: #BCBBBD30;
    position: fixed;
    right:102px;
    z-index: 1;
}

.contour_top{
    
    height: 4px;
    background-color: #BCBBBD30;
    position: absolute;
    right:102px;
    left: 102px;
    z-index: 1;
}

.landing-page{
    background-image: url("../Assets/Illustrations/Home/Bathome1.png");
    background-size: cover;
    height: 120vh;
    z-index: 1;
}
.landing{
    padding-bottom: 200px;
    overflow: hidden;
}

.landing-description{
    margin-top: 20%;
}
header{
    border-top:none;
   /*  border-bottom: 3px solid #BCBBBD30; */
    width: 90%;
    margin: auto;
}
header nav{
    justify-content: space-around;
}
header nav a{
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
}
header nav a span{
    display: block;
    background-color: white;
    height: 2px;
    width: 0%;
    transition: 0.2s;
}

 .active{
     font-weight: bolder;
} 

.active >span{
    width: 100%;
}


.button{
    padding: 12px;
    min-width: 200px;
    margin: 20px;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.233),var(--rouge-transparent));
    border: none;
    font-size: 20px;
}


/* hover sur les boutons */
.button:hover{
    background: linear-gradient(45deg,rgba(255, 255, 255, 1),var(--rouge));
    transition: 1s;
}

.image-scroll-btn{
   height: 500px;
   background-color: #000000;
}

 .image-scroll-btn div{
    text-align: center;
    z-index: 0;
}


 .card-container{
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

.image-scroll-btn div  img{
   margin-top:100px;
   cursor: pointer;
}
.blockInfade{
    transform: translateX(-1000px);
    transition: 1s;
}
.cinema-batman,.nemesis{
    background-color:var(--noire);
}

.imgZoom{
    zoom: 0%;
    transform: scale(0);
    transition:1s;
}

.card-container .card-description h1,#multimedia{
    color:var(--bleu);
    font-size:36px;
}



.titre,.titreGame{
    transform: translateX(-1000px);
    opacity:1;
    transition: 1s;
}



.sous_titre{
    transition: 1s;
    opacity:0;
}


h2{
    font-size:12px;
    font-weight: bold;
}


.background_masque{
    background-image: url('../assets/Illustrations/Home/Batslider1.png');
    background-size: cover;
    min-height: 550px;
}

.background_masque div{
    /* border: 3px solid var(--white-transparent);
    border-top: none;
    border-bottom: none; */
}

.multimedia{
    background-color: var(--noire);
}

.slider{
    overflow: hidden;
}

.slide-content .mutlimedia-description{
    padding: 12px;
    color: #ffffff;
}

.slider-container{
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content{
    transform: translateX(-200%);
    transition: 2s;
    position: absolute;
    display: flex;
    background-image: linear-gradient(-45deg,#1b4964,#504e4e);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
/* .slide-content-active{
    display:flex;
}
 */
.arrow{
    cursor: pointer;
    position: relative;
    z-index: 1;

}

#prev{
    position:absolute;
    left:0;
}


#next{
    position:absolute;
    right:0;
}

.bande_annonce{
    background-color: var(--noire);
}

.prendre_contact{
    background-image: linear-gradient(-45deg,#183241,#3f3c3c);
    color: white;
}

.popup{
    background-image: linear-gradient(-45deg,#183241,#3f3c3c);
    width:70%;
    height:60%;
    position: absolute;
    display:none;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transform: translateY(30%);
    box-shadow: 0 0 10px black;
    z-index: 1;
}

.form-champ{
     border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--white); 
    background-color: rgba(255, 255, 255, 0);
}

.prendre_contact p{
    color:grey;
}

.prendre_contact form label{
    font-size: 18px;
}

.prendre_contact .news button{
    border-radius: 0;
    color: var(--white);
    font-size: 12px;
    border: 1px solid grey;
}

.prendre_contact form #submit{
    background-image: linear-gradient(-45deg,#b11313,rgb(116, 112, 112));
    border-radius: 0;
    border: none;
    padding: 10px 30px;
}
.prendre_contact option{
    background-image: linear-gradient(-45deg,#183241,#3f3c3c);
    padding: 10px;
}

.pointPoint{
    display:flex;
    justify-content: space-around;
    width:200px;
   margin: auto;
}
.pointPoint span{
    padding: 2px;
    width: 10px;
    height: 10px;
    border: 1px solid var(--bleu);
    border-radius: 100%;
}
.pointActive{
    background-color: var(--bleu);
}

.footer-container{
    background-color: var(--noire);
}


.landing_game{
    background-image: url("../Assets/Illustrations/Game/Batgame1.png");
    background-size:cover;
    height: 120vh;
}


.description,.image-scroll-btn div  img{
    transform: translateX(-1000px);
    transition: 1s;
    z-index: 1;
}

.bande_annonce img:hover{
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.card{
    cursor: pointer;
}


.quiz_area{
  color: white;
}

.quiz_area .form-check{
    background-color:grey ;
    margin: 10px;
    padding: 0;
    outline: none;
}

.quiz_area .form-check .form-check-input{
    padding: 20px;
    border-radius: 0;
    margin: 10px;   
}
/* responsivité du site */

@media screen and (max-width:1100px){
    .multimedia{
        display:none;
    }
   header{
       width:70% ;
   }

   .row .card{
       width:60%;
       margin: auto;
   }
}

@media screen and (max-width:800px){
    .contour_left{
        display: none;
    }
    .contour_right{
        display: none;
    }
    
    .contour_top{
        display: none;
    }

    .scroll-fixed{
        display: none;
    }
}



